.tabla{
display: grid;
grid-template-columns: repeat(4,1fr);
grid-template-rows: repeat(4,1fr);
height: 400px;
width: 100%;
}
.cuadro{
    display: grid;
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
